* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

}

button {
    border: none;
    color: inherit;
    background-color: inherit;
}

a {
    cursor: pointer;
}

.max-width-sm {
    max-width: 40%;
}

.max-width-md {
    max-width: 60%;
}


/* Hr */

.hr-md {
    height: 3px;
}